In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# load availability_df csv file
#availability_df = pd.read_csv('availability_df.csv')
# load demand_df csv file
demand_df = pd.read_csv('demand_df.csv')
forecasts_df=pd.read_csv('forecasts_df.csv')
#exchanges_df=pd.read_csv('exchanges_df.csv')
#fuel_prices_df=pd.read_csv('fuel_prices_df.csv')

In [3]:
demand_df.head(2)

              datetime  demand_north  demand_east  demand_west
0  2023-01-01 00:00:00            10           10           35
1  2023-01-01 01:00:00            10           10           35

In [15]:
Cement_plants_demand=pd.read_csv('Cement_plants_demand.csv')
Cement_plants_demand.head()

,datetime,way/24765111-220,way/787265962-220,way/42560068-380,way/42797575-380,way/28956649-220,way/942448206-380,way/157164284-220,way/42560068-380.1
0,01-01-35 0:00,79.6,66.33,66.33,59.7,72.97,126.03,33.729751,0.0
1,01-01-35 1:00,79.6,66.33,66.33,59.7,72.97,126.03,25.335082,0.0
2,01-01-35 2:00,79.6,66.33,66.33,59.7,72.97,126.03,15.238925,0.0
3,01-01-35 3:00,79.6,66.33,66.33,59.7,72.97,126.03,10.765944,0.0
4,01-01-35 4:00,79.6,66.33,66.33,59.7,72.97,126.03,12.379725,0.0

In [4]:
forecasts_df['datetime']=demand_df['datetime']
forecasts_df.head(2)

,datetime,price_EOM,co2_price,electricity_price,electricity_price_flex,natural_gas_price,hydrogen_gas_price,coal_price,A360_clinker_demand,A360_baseline_power,A360_max_up,A360_max_down,A360_price_up,A360_price_down
0,2023-01-01 00:00:00,100,30,11.50,11.50,50,50,20,10.174611,130.15666,669.84334,130.15666,1,1
1,2023-01-01 01:00:00,100,30,11.41,11.41,50,50,20,10.174611,130.15666,669.84334,130.15666,1,1

In [ ]:
# subtract the timeseries of Cement plants for the

In [8]:
#demand_df['datetime']=exchanges_df['datetime']
#forecasts_df['datetime']=demand_df['datetime']
#availability_df['datetime']=demand_df['datetime']
fuel_prices_df['datetime']=demand_df['datetime']

In [5]:
forecasts_df.to_csv('forecasts_df.csv', index=False)
#exchanges_df.to_csv('exchanges_df.csv', index=False)
#availability_df.to_csv('availability_df.csv', index=False)
#fuel_prices_df.to_csv('fuel_prices_df.csv', index=False)
#demand_df.to_csv('demand_df.csv', index=False)