In [1]:
import pandas as pd

In [2]:
# load availability_df csv file
availability_df = pd.read_csv("availability_df.csv")
# load demand_df csv file
demand_df = pd.read_csv("demand_df.csv")
forecasts=pd.read_csv("forecasts_df.csv")
fuel_prices=pd.read_csv("fuel_prices_df.csv")

In [ ]:
exchanges

In [7]:
forecasts['datetime']=availability_df['datetime']
forecasts.head(2)

,datetime,price_EOM,co2_price,electricity_price,electricity_price_flex,natural_gas_price,hydrogen_gas_price,coal_price,A360_clinker_demand
0,2035-01-01 00:00:00,0.0,30,11.50,11.50,50,50,20,10.174611
1,2035-01-01 01:00:00,0.0,30,11.41,11.41,50,50,20,10.174611

In [10]:
fuel_prices['datetime']=availability_df['datetime']
fuel_prices.head(2)

,datetime,lignite,hard coal,natural gas,oil,biomass,co2,natural_gas_co2_factor,oil_co2_factor,lignite_co2_factor,hard_coal_co2_factor
0,2035-01-01 00:00:00,7,7.8,29.24,42.2,31.5,160,0.2,0.26,0.34,0.34
1,2035-01-01 01:00:00,7,7.8,29.24,42.2,31.5,160,0.2,0.26,0.34,0.34

In [5]:
# change datetime column of availability_df to the datetime column of demand_df
demand_df["datetime"] = availability_df["datetime"]
demand_df.head(2)

,datetime,DE10-380,DE100-380,DE102-380,DE103-380,DE104-380,DE105-220,DE106-220,DE107-380,DE108-220,...,way/953015049-380,way/953757606-380,way/953757608-380,way/95434457-380,way/954971276-220,way/955268863-380,way/957746797-380,way/97825259-380,way/97857512-220,way/979801144-380
0,2035-01-01 00:00:00,82.050036,36.455649,25.840911,259.579893,27.318923,19.308511,42.197007,21.571124,0,...,36.771416,53.303428,52.037335,17.448364,289.979899,34.751792,17.169765,29.926861,165.576769,19.391665
1,2035-01-01 01:00:00,80.231034,35.647448,25.268033,253.825155,26.713279,18.880453,41.261523,21.092905,0,...,35.956214,52.121722,50.883697,17.061544,283.551211,33.981365,16.789121,29.263399,161.906027,18.961763

In [11]:
# save availability_df to csv file
forecasts.to_csv("forecasts_df.csv", index=False)
fuel_prices.to_csv("fuel_prices_df.csv", index=False)
demand_df.to_csv("demand_df.csv", index=False)

In [7]:
# inspect availability_df dataframe to check whether there is any problem
#print(availability_df.info())
#print(availability_df.head())
# print if isna is true for any column in availability_df

print(availability_df.isna().sum())

datetime      0
Unit_323_a    0
Unit_323_b    0
Unit_491_a    0
Unit_491_b    0
             ..
Unit_1466     0
Unit_1473     0
Unit_1501     0
Unit_1516     0
Unit_1575     0
Length: 1290, dtype: int64

In [16]:
import pandas as pd

# ---- Load all relevant data ----
plants = pd.read_csv("powerplant_units.csv")
buses = pd.read_csv("buses.csv")
avail = pd.read_csv("availability_df.csv")  # only header check

# ---- Check 1: Availability columns vs plant names ----
avail_cols = set(avail.columns) - {"datetime", "time", "snapshot"}
plants_set = set(plants["name"])
missing_in_plants = avail_cols - plants_set
print("Availability columns not in plants:", len(missing_in_plants), list(missing_in_plants)[:10])

# ---- Check 2: All buses used by plants exist ----
missing_buses = set(plants["node"]) - set(buses["name"])
print("Missing buses:", len(missing_buses), missing_buses)

# ---- Optional: sanity on numeric values ----
sample = pd.read_csv("availability_df.csv")
if sample.iloc[:,1:].isna().any().any():
    print("⚠️ Some NaNs in availability values")
else:
    print("✅ No NaNs in availability values")
if (sample.iloc[:,1:] < 0).any().any() or (sample.iloc[:,1:] > 1).any().any():
    print("⚠️ Some availability values outside [0,1]")
else:
    print("✅ All availability values within [0,1]")

Availability columns not in plants: 0 []
Missing buses: 0 set()
✅ No NaNs in availability values
✅ All availability values within [0,1]

In [15]:
import pandas as pd

# ---- Load all relevant data ----
exchange_units = pd.read_csv("exchange_units.csv")
buses = pd.read_csv("buses.csv")
exchange_df = pd.read_csv("exchanges_df.csv")  # only header check

# ---- Check 1: Availability columns vs plant names ----
avail_cols = set(avail.columns) - {"datetime", "time", "snapshot"}
exchange_units_set = set(plants["name"])
missing_in_exchange_units = avail_cols - exchange_units_set
print("Availability columns not in plants:", len(missing_in_plants), list(missing_in_plants)[:10])

# ---- Check 2: All buses used by plants exist ----
missing_buses = set(exchange_units["node"]) - set(buses["name"])
print("Missing buses:", len(missing_buses), missing_buses)

Availability columns not in plants: 0 []
Missing buses: 0 set()

In [12]:
availability_df.head(2)

,datetime,Unit_323_a,Unit_323_b,Unit_491_a,Unit_491_b,Unit_491_c,Unit_1384_a,Unit_1384_b,Unit_1384_c,Unit_1384_d,...,Unit_1433,Unit_1437,Unit_1441,Unit_1445,Unit_1449,Unit_1466,Unit_1473,Unit_1501,Unit_1516,Unit_1575
0,01-01-35 0:00,0.974,0.974,0.995,0.995,0.995,0.988,0.988,0.988,0.988,...,0.315385,0.315385,0.315385,0.315385,0.315385,0.315385,0.315385,0.315385,0.315385,0.315385
1,01-01-35 1:00,0.987,0.987,0.997,0.997,0.997,0.988,0.988,0.988,0.988,...,0.314524,0.314524,0.314524,0.314524,0.314524,0.314524,0.314524,0.314524,0.314524,0.314524

In [15]:
availability_df["datetime"]=demand_df["datetime"]
availability_df.head(2)

,datetime,Unit_323_a,Unit_323_b,Unit_491_a,Unit_491_b,Unit_491_c,Unit_1384_a,Unit_1384_b,Unit_1384_c,Unit_1384_d,...,Unit_1433,Unit_1437,Unit_1441,Unit_1445,Unit_1449,Unit_1466,Unit_1473,Unit_1501,Unit_1516,Unit_1575
0,2035-01-01 00:00:00,0.974,0.974,0.995,0.995,0.995,0.988,0.988,0.988,0.988,...,0.315385,0.315385,0.315385,0.315385,0.315385,0.315385,0.315385,0.315385,0.315385,0.315385
1,2035-01-01 01:00:00,0.987,0.987,0.997,0.997,0.997,0.988,0.988,0.988,0.988,...,0.314524,0.314524,0.314524,0.314524,0.314524,0.314524,0.314524,0.314524,0.314524,0.314524

In [7]:
# change datetime column of availability_df to the datetime column of demand_df
fuel_prices["datetime"] = availability_df["datetime"]
forecasts["datetime"] = availability_df["datetime"]
forecasts.head(2)

,datetime,price_EOM,co2_price,electricity_price,electricity_price_flex,natural_gas_price,hydrogen_gas_price,coal_price,A360_clinker_demand
0,2035-01-01 00:00:00,0.0,30,11.50,11.50,50,50,20,10.174611
1,2035-01-01 01:00:00,0.0,30,11.41,11.41,50,50,20,10.174611

In [3]:
# change datetime column of availability_df to the datetime column of demand_df
demand_df["datetime"] = availability_df["datetime"]

In [16]:
# save availability_df to csv file
#forecasts.to_csv("forecasts_df.csv", index=False)
#fuel_prices.to_csv("fuel_prices_df.csv", index=False)
availability_df.to_csv("availability_df.csv", index=False)